* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

.stats-preview {
    display: flex;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
    color: white;
    width: 950px;
    margin: 0 auto;
}

.stats-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stats-content h1 {
    font-size: 35px;
    padding: 60px 50px 0 30px;
    margin-top: -80px;
}

.stats-content h1 span {
    color: hsl(277, 64%, 61%);
}

.stats-content p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(160, 160, 160);
    padding: 45px 52px 44px 30px;
}


.stats-views {
    display: flex;
    align-items: center;
    margin-bottom: -7px;
}

.stats-views ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.stats-views ul li {
    font-size: 20px;
    padding: 10px 30px 20px 30px;
    text-align: center;
}

.stats-title {
    display: flex;
    align-items: center;
}

.stats-title ul {
    display: flex;
    list-style: none;
    font-size: 10px;
}

.stats-title ul li {
    padding: 0 16px 0 30px;
    color: hsl(0, 0%, 63%);
}

.stats-banner img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.stats-overlay::after {
    content: "";
    position: absolute;
    top: 103px;
    bottom: 100px;
    left: 618px;
    right: 207px;
    border-top-right-radius: 8px;
    background-color: hsl(277, 64%, 61%);
    border-bottom-right-radius: 8px;
    width: auto;
    opacity: 0.5;
}

@media(max-width:320px) {
    .stats-preview {
        display: flex;
        flex-direction: column-reverse;
    }

    .stats-container {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
    }

    .stats-content {
        padding: 1px 39px 16px 128px;
        margin-top: 401px;
    }

    .stats-container h1 {
        text-align: center;
        font-size: 33px;
    }

    .stats-container p {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
    }

    .stats-views {
        display: block;
        align-items: center;
    }

    .stats-views ul {
        display: block;
        align-items: center;
        padding-right: 55px;
    }

    .stats-views ul li {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 29px;
        padding-bottom: 50px;
    }

    .stats-title {
        display: block;
        align-items: center;
        font-size: 39px;
    }

    .stats-title ul {
        display: flex;
        margin-top: -312px;
        margin-bottom: 65px;
        list-style: none;
        font-size: 10px;
        padding-right: 83px;
        flex-direction: column;
    }

    .stats-title ul li {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: -10px;
        justify-content: center;
        padding-top: 86px;
        font-size: 13px;
        letter-spacing: 3px;
    }

    .stats-banner {
        width: 100%;
        height: 300px;
        display: block;
        border-radius: 10px;

    }

    .stats-banner img {
        display: block;
        border-radius: 10px;

    }

    .stats-overlay {
        width: 100%;
        height: 200px;
        display: block;
        border-radius: 10px;
    }

    .stats-overlay::after {
        border-radius: 10px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 298px;
        left: 0px;
        right: -35px;
        background-color: hsl(277, 64%, 61%);
        width: auto;
        opacity: 0.5;
    }

}